<div class="modal-header">
    <h4 class="modal-title"><b>Create an Event</b></h4>
</div>
<div class="modal-body">
    <div class="col-md-12 text-center">
        <div class="dropdown">
            <button class="dropdown-toggle btn btn-inverse btn-link btn-sm px-2" type="button"
                    id="dropdown_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{this.APP['Data'].Dropdown_filters.Health.label}}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown_1" style="background-color: #F3F3F3;">
                <a *ngFor="let item of this.APP['Data'].Dropdown_filters.Health.data; index as index" class="dropdown-item" href="#">{{item.label}}</a>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-success" (click)="modal.close('Ok click')">Ok</button>
        <button type="button" class="btn btn-info" (click)="modal.dismiss('cancel click')">Cancel</button>
    </div>
</div>
