<div class="main-content">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="d-flex flex-row-reverse justify-content-around">

                <!-- Dropdown filters -->
                <ng-container *ngFor="let dropdown of this.APP['Data'].Dropdown_filters">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown"
                         ngbDropdown [placement]="'bottom'">
                        <button class="btn btn-sm" ngbDropdownToggle>{{dropdown.value ? (dropdown.value.length <20 ? dropdown.value : (dropdown.value | slice : 0:25) +'...') : dropdown.label}} </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <ng-container *ngFor="let option of dropdown.data">
                                <button ngbDropdownItem
                                        [disabled]="option.disabled"
                                        (click)="dropdown.value = option.label">{{option.label}}</button>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2 px-0">
            <div class="card">
                <div class="card-body">
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">

                        <div class="card card-plain">
                            <div role="tab" id="headingOne" class="card-header">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_1" aria-expanded="false" aria-controls="collapse_1" class="collapsed">{{this.APP['Data'].Draggable.SubContractor.label}}
                                    <i class="nc-icon nc-minimal-down"></i>
                                </a>
                            </div>
                            <div id="collapse_1" role="tabpanel" aria-labelledby="headingOne" class="collapse" style="">
                                <ng-container *ngFor="let item of this.APP['Data'].Draggable.SubContractor.events; index as index">
                                    <div class="fc-event noUi-target mb-1"
                                         [ngClass]="[(item.enabled ? 'fc-draggable' : 'blurred'), item.className]"
                                         [attr.data-event]="object_to_JSON(item)">{{item.label}} {{this.APP['Data'].Draggable.SubContractor.label}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="card card-plain">
                            <div role="tab" id="headingTwo" class="card-header">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_2" aria-expanded="false" aria-controls="collapse_2" class="collapsed">{{this.APP['Data'].Draggable.Scheduler.label}}
                                    <i class="nc-icon nc-minimal-down"></i>
                                </a>
                            </div>
                            <div id="collapse_2" role="tabpanel" aria-labelledby="headingTwo" class="collapse" style="">
                                <ng-container *ngFor="let item of this.APP['Data'].Draggable.Scheduler.events; index as index">
                                    <div class="fc-event noUi-target mb-1"
                                         [ngClass]="[(item.enabled ? 'fc-draggable' : 'blurred'), item.className]"
                                         [attr.data-event]="object_to_JSON(item)">{{item.label}} {{this.APP['Data'].Draggable.Scheduler.label}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="card card-plain">
                            <div role="tab" id="headingThree" class="card-header">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_3" aria-expanded="false" aria-controls="collapse_3" class="collapsed">{{this.APP['Data'].Draggable.Employee.label}}
                                    <i class="nc-icon nc-minimal-down"></i>
                                </a>
                            </div>
                            <div id="collapse_3" role="tabpanel" aria-labelledby="headingThree" class="collapse">
                                <ng-container *ngFor="let item of this.APP['Data'].Draggable.Employee.events; index as index">
                                    <div class="fc-event noUi-target mb-1"
                                         [ngClass]="[(item.enabled ? 'fc-draggable' : 'blurred'), item.className]"
                                         [attr.data-event]="object_to_JSON(item)">{{item.label}} {{this.APP['Data'].Draggable.Employee.label}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="card card-plain">
                            <div role="tab" id="headingFour" class="card-header">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_4" aria-expanded="false" aria-controls="collapse_4" class="collapsed">{{this.APP['Data'].Draggable.Jobs.label}}
                                    <i class="nc-icon nc-minimal-down"></i>
                                </a>
                            </div>
                            <div id="collapse_4" role="tabpanel" aria-labelledby="headingFour" class="collapse">
                                <ng-container *ngFor="let item of this.APP['Data'].Draggable.Jobs.events; index as index">
                                    <div class="fc-event noUi-target mb-1"
                                         [ngClass]="[(item.enabled ? 'fc-draggable' : 'blurred'), item.className]"
                                         [attr.data-event]="object_to_JSON(item)">{{item.label}} {{this.APP['Data'].Draggable.Jobs.label}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card card-calendar">
                <div class="card-content">
                    <div id="jobsScheduler"></div>
                </div>
            </div>
        </div>

        <div class="col-md-2 px-0"></div>
    </div>
</div>


<ng-template #add_event_modal let-modal>

    <div class="modal-header">
        <h4 class="modal-title"><b>New event</b></h4>
    </div>
    <div class="modal-body" id="add_event_modal">
        <div class="col-md-12">

            <!-- Title -->
            <div class="form-group">
                <div class="font-weight-bold">Event title</div>
                <input class="form-control" type="text" placeholder="Enter a title" [(ngModel)]="new_event_modal_data.title">
            </div>

            <!-- Type of event -->
            <form class="form-inline">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown"
                     ngbDropdown [placement]="'bottom'">
                    <a ngbButton  class="btn btn-sm btn-outline-primary btn-round" ngbDropdownToggle>Event type </a>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <ng-container *ngFor="let option of new_event_modal_data.choices_types">
                            <button ngbDropdownItem
                                    (click)="new_event_modal_data.selected_choices_types = option">{{option.label}}</button>
                        </ng-container>
                    </div>
                </div>

                <div class="mx-3">{{new_event_modal_data.selected_choices_types.label}}</div>
            </form>

            <!-- Date range picker -->
            <form class="form-inline">
                <div class="font-weight-bold mr-4" style="padding-top: 10px;">Date range</div>
                <datepicker-range-popup
                        [(fromDate)]="new_event_modal_data.fromDate"
                        [(fromDate_isValid)]="new_event_modal_data.fromDate_isValid"
                        [(toDate)]="new_event_modal_data.toDate"
                        [(toDate_isValid)]="new_event_modal_data.toDate_isValid"
                        [labelEnabled]="true">
                </datepicker-range-popup>
            </form>

            <hr>

            <!-- Time range picker -->
            <div class="d-flex flex-row justify-content-between">
                <div>
                    <div class="font-weight-bold">Time range</div>
                    <div style="margin-top: 27px;">
                        <a ngbButton class="btn btn-sm btn-outline-primary btn-round"
                           (click)="new_event_set_all_day()">Set 8am to 6pm
                        </a>
                    </div>
                </div>

                <!-- Override AM/PM buttons styling for the <ngb-timepicker> component -->
                <style>
                    #add_event_modal .ngb-tp-meridian button[type=button] {
                        font-size: 0.8571em;
                        padding: 5px 15px;
                        text-decoration: none;
                        color: inherit;
                        background: transparent;
                        border: 2px solid #51cbce !important;
                        opacity: 1;
                        border-radius: 30px;
                    }
                </style>

                <div>
                    <div class="text-center"><small>Start</small></div>
                    <div style="margin-top: -10px">
                        <ngb-timepicker
                                [(ngModel)]="new_event_modal_data.start_time"
                                (ngModelChange)="new_event_time_changed()"
                                [meridian]="true"
                                [minuteStep]="30"
                                [size]="'small'">
                        </ngb-timepicker>
                    </div>
                </div>

                <div>
                    <div class="text-center"><small>End</small></div>
                    <div style="margin-top: -10px">
                        <ngb-timepicker
                                [(ngModel)]="new_event_modal_data.end_time"
                                (ngModelChange)="new_event_time_changed()"
                                [meridian]="true"
                                [minuteStep]="30"
                                [size]="'small'">
                        </ngb-timepicker>
                    </div>
                </div>
            </div>

            <!-- For testing only: Display JSON content -->
<!--            <pre>new_event: {{new_event_modal_data | json}}</pre>-->

            <!--                <div>
                    <div class="form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio"
                                   [(ngModel)]="new_event_modal_data.all_day"
                                   [checked]="!new_event_modal_data.all_day"
                                   [value]="false"
                                   (ngModelChange)="new_event_set_all_day()"> Time range
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                    <div class="form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio"
                                   [(ngModel)]="new_event_modal_data.all_day"
                                   [checked]="new_event_modal_data.all_day"
                                   [value]="true"
                                   (ngModelChange)="new_event_set_all_day()"> All day
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                </div>-->

        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-info" (click)="modal.dismiss('cancel click')">Cancel</button>
            <button type="button" class="btn btn-success" [disabled]="new_event_form_inValid()" (click)="modal.close('Ok click')">Create</button>
        </div>
    </div>

</ng-template>
