<div class="main-content">
    <div class="row">

        <div class="col-md-2 px-0">
            <div class="card">
                <div class="card-body">
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">

                        <div class="card card-plain">
                            <div role="tab" id="headingOne" class="card-header">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_1" aria-expanded="false" aria-controls="collapse_1" class="collapsed">{{this.APP['Data'].Draggable.SubContractor.label}}
                                    <i class="nc-icon nc-minimal-down"></i>
                                </a>
                            </div>
                            <div id="collapse_1" role="tabpanel" aria-labelledby="headingOne" class="collapse" style="">
                                <div class="fc-event fc-draggable mb-1"
                                     [ngClass]="item.className"
                                     *ngFor="let item of this.APP['Data'].Draggable.SubContractor.events; index as index"
                                     [attr.data-event]="object_to_JSON(item)">{{item.label}} {{this.APP['Data'].Draggable.SubContractor.label}}
                                </div>
                            </div>
                        </div>

                        <div class="card card-plain">
                            <div role="tab" id="headingTwo" class="card-header">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_2" aria-expanded="false" aria-controls="collapse_2" class="collapsed">{{this.APP['Data'].Draggable.Scheduler.label}}
                                    <i class="nc-icon nc-minimal-down"></i>
                                </a>
                            </div>
                            <div id="collapse_2" role="tabpanel" aria-labelledby="headingTwo" class="collapse" style="">
                                <div class="fc-event fc-draggable mb-1"
                                     [ngClass]="item.className"
                                     *ngFor="let item of this.APP['Data'].Draggable.Scheduler.events; index as index"
                                     [attr.data-event]="object_to_JSON(item)">{{item.label}} {{this.APP['Data'].Draggable.Scheduler.label}}
                                </div>
                            </div>
                        </div>

                        <div class="card card-plain">
                            <div role="tab" id="headingThree" class="card-header">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_3" aria-expanded="false" aria-controls="collapse_3" class="collapsed">{{this.APP['Data'].Draggable.Employee.label}}
                                    <i class="nc-icon nc-minimal-down"></i>
                                </a>
                            </div>
                            <div id="collapse_3" role="tabpanel" aria-labelledby="headingThree" class="collapse">
                                <div class="fc-event fc-draggable mb-1"
                                     [ngClass]="item.className"
                                     *ngFor="let item of this.APP['Data'].Draggable.Employee.events; index as index"
                                     [attr.data-event]="object_to_JSON(item)">{{item.label}} {{this.APP['Data'].Draggable.Employee.label}}
                                </div>
                            </div>
                        </div>

                        <div class="card card-plain">
                            <div role="tab" id="headingFour" class="card-header">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_4" aria-expanded="false" aria-controls="collapse_4" class="collapsed">{{this.APP['Data'].Draggable.Jobs.label}}
                                    <i class="nc-icon nc-minimal-down"></i>
                                </a>
                            </div>
                            <div id="collapse_4" role="tabpanel" aria-labelledby="headingFour" class="collapse">
                                <div class="fc-event fc-draggable mb-1"
                                     [ngClass]="item.className"
                                     *ngFor="let item of this.APP['Data'].Draggable.Jobs.events; index as index"
                                     [attr.data-event]="object_to_JSON(item)">{{item.label}} {{this.APP['Data'].Draggable.Jobs.label}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="d-flex flex-row-reverse">
                <ng-container *ngFor="let dropdown of this.APP['Data'].Dropdown_filters | keyvalue; index as index">
                    <select class="selectpicker"
                            data-size="7"
                            data-style="btn btn-link btn-sm"
                            [(ngModel)]="dropdown.value.value"
                            title="{{dropdown.value.label}}">
                        <ng-container *ngFor="let option of dropdown.value.data">
                            <option [disabled]="option.disabled"
                                    [value]="option.label">{{option.label}}
                            </option>
                        </ng-container>
                    </select>
                </ng-container>

            </div>

            <div class="card card-calendar">
                <div class="card-content">
                    <div id="jobsScheduler"></div>
                </div>
            </div>
        </div>

        <div class="col-md-2 px-0">

        </div>

    </div>
</div>
